body{
  margin: 0;
  background-color:#d2f5e3;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5ren;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

span{
  font-weight: normal;
}

hr{
  border: dotted #EFA6F6 6px;
  border-bottom: none;
  width: 4%;
}

p{
  line-height: 2;
}

.top-container{
  padding-top: 100px;
  position: relative;
}

.middle-container{
  padding-top: 100px;
  padding-bottom: 30px;
  position: relative;
  background-color: #E4F9F5;
}

.bottom-container{
  padding: 30px 0 20px;
  position: relative;
  background-color: #66BFBF;
}

.profile{
  padding-bottom: 50px;
  position: relative;
}

.skills{
  padding-top: 50px;
  position: relative;
}

.contact-me{
  padding-top: 50px;
  position: relative;
}

.profile_img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.coding_img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.circuit_img{
  margin-top: 80px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 30px;
  margin-bottom: 50px;
}

.special_text{
  text-decoration: underline;
}

div{
  margin: 0;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 600px;
}

.skill-row{
  margin: 100px auto 100px;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.intro{
  width: 50%;
  margin: auto;
}

.lets_meet{
    width: 80%;
    margin: 20px auto 40px;
}

.BUTTON_UJV {
   background: #11CDDC;
   background-image: -webkit-linear-gradient(top, #11CDDC, #11999E);
   background-image: -moz-linear-gradient(top, #11CDDC, #11999E);
   background-image: -ms-linear-gradient(top, #11CDDC, #11999E);
   background-image: -o-linear-gradient(top, #11CDDC, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDDC, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family:  'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 400;
   padding: 15px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_UJV:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
}
